<html>
    <head>
        {% include 'head.html' %}
    </head>
<body>
    <div class='container'>
        {% include 'navbar.html' %}
        <div class='mt-5 container'>
            <form method='POST'>
                {% include 'pesan.html'%}
                {{form.hidden_tag()}}
                <p>{{form.password(placeholder="new password")}}</p>
                <p>{{form.confirm_password(placeholder="confirm new password")}}</p>
                <p>{{form.submit(class='btn btn-outline-success')}}</p>
            </form>
        </div>
    </div>
</body>
</html>