<html>
    <head>
        {% include 'head.html' %}
    </head>
<body>
    {% include 'dashboard/menu.html'%}
    <form action='' method='POST'>
        {% include 'pesan.html'%}
        {{form.hidden_tag()}}
        <label for='name'>Name </label>
        <p>{{form.name}}</p>
        <label for='username'>Username</label>
        <p>{{form.username}}</p>
        <label for='email'>Email</label>
        <p>{{form.email}}</p>
        <p>{{form.submit}}</p>
        {% include 'script.html' %}
    </form>
</body>
</html>
