<html>
    <head>
        {% include 'head.html' %}
    </head>
<body>
    {% include 'dashboard/menu.html' %}
    <div class='container'>
        <form method="POST">
            {% include 'pesan.html' %}
            {{form.hidden_tag()}}
            <p>{{form.password(placeholder='Enter your old password')}}</p>
            <p>{{form.new_password(placeholder='enter your new password')}}</p>
            <p>{{form.confirm_password(placeholder='confirm your new password')}}</p>
            <p>{{form.submit(class='btn btn-outline-dark')}}</p>
        </form>
    </div>
</body>
</html>
